@use "sass:map";

// Settings
// ––––––––––––––––––––

// Theme color
$theme-color: "azure" !default; // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc

// Prefix for CSS variables
$css-var-prefix: "--pico-" !default; // Must start with "--"

// Define the root element used to target <header>, <main>, <footer>
// with $enable-semantic-container and $enable-responsive-spacings
$semantic-root-element: "body" !default;

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: false !default;

// Enable a centered viewport for <header>, <main>, <footer> inside $semantic-root-element
// Fluid layout if disabled
$enable-viewport: true !default;

// Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
// Fixed spacings by default
$enable-responsive-spacings: false !default;

// Enable responsive typography
// Fixed root element size (rem) if disabled
$enable-responsive-typography: true !default;

// Enable .classes
// .classless version if disabled
$enable-classes: true !default;

// Enable transitions
$enable-transitions: true !default;

// Enable overriding with !important
$enable-important: true !default;

// Optional parent selector
// If defined, all HTML tags are wrapped with this selector
// :root is not wrapped
$parent-selector: "" !default;

// Breakpoints, viewports and root font size
$breakpoints: () !default;
$breakpoints: map.deep-merge(
  (
    // Small (landscape phones)
    // Font size: 17px
    sm: (
        breakpoint: 576px,
        viewport: 510px,
        root-font-size: 106.25%,
      ),

    // Medium (tablets)
    // Font size: 18px
    md: (
        breakpoint: 768px,
        viewport: 700px,
        root-font-size: 112.5%,
      ),

    // Large
    // Font size: 19px
    lg: (
        breakpoint: 1024px,
        viewport: 950px,
        root-font-size: 118.75%,
      ),

    // Extra large
    // Font size: 20px
    xl: (
        breakpoint: 1280px,
        viewport: 1200px,
        root-font-size: 125%,
      ),

    // Extra extra large
    // Font size: 21px
    xxl: (
        breakpoint: 1536px,
        viewport: 1450px,
        root-font-size: 131.25%,
      )
  ),
  $breakpoints
);

// Modules to export
$modules: () !default;
$modules: map.merge(
  (
    // Theme
    "themes/default": true,

    // Layout
    "layout/document": true,
    "layout/landmarks": true,
    "layout/container": true,
    "layout/section": true,
    "layout/grid": true,
    "layout/overflow-auto": true,

    // Content
    "content/link": true,
    "content/typography": true,
    "content/embedded": true,
    "content/button": true,
    "content/table": true,
    "content/code": true,
    "content/figure": true,
    "content/misc": true,

    // Forms
    "forms/basics": true,
    "forms/checkbox-radio-switch": true,
    "forms/input-color": true,
    "forms/input-date": true,
    "forms/input-file": true,
    "forms/input-range": true,
    "forms/input-search": true,

    // Components
    "components/accordion": true,
    "components/card": true,
    "components/dropdown": true,
    "components/group": true,
    "components/loading": true,
    "components/modal": true,
    "components/nav": true,
    "components/progress": true,
    "components/tooltip": true,

    // Utilities
    "utilities/accessibility": true,
    "utilities/reduce-motion": true
  ),
  $modules
);

// Modules to export
$elements: () !default;
$elements: map.merge(
  (
    // Block elements
    "block/article": true,
    "block/aside": true,
    "block/audio": true,
    "block/blockquote": true,
    "block/body": true,
    "block/canvas": true,
    "block/caption": true,
    "block/column-group": true,
    "block/data-list": true,
    "block/definition-description": true,
    "block/definition-list": true,
    "block/definition-term": true,
    "block/deleted-text": true,
    "block/details": true,
    "block/dialog": true,
    "block/division": true,
    "block/embed": true,
    "block/fieldset": true,
    "block/figure": true,
    "block/figure-caption": true,
    "block/footer": true,
    "block/form": true,
    "block/html": true,
    "block/header": true,
    "block/heading1": true,
    "block/heading2": true,
    "block/heading3": true,
    "block/heading4": true,
    "block/heading5": true,
    "block/heading6": true,
    "block/headings-group": true,
    "block/horizontal-rule": true,
    "block/inline-frame": true,
    "block/inserted-text": true,
    "block/legend": true,
    "block/list-item": true,
    "block/main": true,
    "block/map": true,
    "block/menu": true,
    "block/navigation": true,
    "block/no-script": true,
    "block/object-element": true,
    "block/option": true,
    "block/option-group": true,
    "block/ordered-list": true,
    "block/paragraph": true,
    "block/picture": true,
    "block/preformatted-text": true,
    "block/section": true,
    "block/summary": true,
    "block/table": true,
    "block/table-body": true,
    "block/table-data": true,
    "block/table-foot": true,
    "block/table-head": true,
    "block/table-header": true,
    "block/table-row": true,
    "block/template": true,
    "block/unordered-list": true,
    "block/video": true,

    // Inline elements
    "inline/abbreviation": true,
    "inline/address": true,
    "inline/anchor": true,
    "inline/bidirectional-isolation": true,
    "inline/bidirectional-override": true,
    "inline/bold": true,
    "inline/button": true,
    "inline/citation": true,
    "inline/code": true,
    "inline/data": true,
    "inline/definition": true,
    "inline/emphasis": true,
    "inline/image": true,
    "inline/input": true,
    "inline/italic": true,
    "inline/keyboard-input": true,
    "inline/label": true,
    "inline/marked-text": true,
    "inline/meter": true,
    "inline/output": true,
    "inline/progress": true,
    "inline/quotation": true,
    "inline/ruby": true,
    "inline/ruby-parenthesis": true,
    "inline/ruby-text": true,
    "inline/sample-output": true,
    "inline/select": true,
    "inline/slot": true,
    "inline/small": true,
    "inline/span": true,
    "inline/strikethrough": true,
    "inline/strong": true,
    "inline/subscript": true,
    "inline/superscript": true,
    "inline/textarea": true,
    "inline/time": true,
    "inline/underline": true,
    "inline/variable": true,

    // Void elements
    "void/area": true,
    "void/break-element": true,
    "void/column": true,
    "void/parameter": true
  ),
  $elements
);
