// Config
// --------------------

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable a centered viewport
$enable-viewport: false;

// Enable .classes
$enable-classes: false;


// Pico Lib
// --------------------

@import "pico";
