// Config
// --------------------

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable a centered viewport for <header>, <main>, <footer> inside $enable-semantic-container 
$enable-viewport: false;

// Enable .classes
$enable-classes: false;

// Pico Lib
// --------------------

@import "pico";
