// Config
// --------------------

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable .classes
$enable-classes: true;

// No .container class
$enable-class-container: false;

// Disable .grid
$enable-grid: false;

// Pico Lib
// --------------------

@import "pico";
