/**
 * Docs: Typography
 */

h1 {
  margin-top: -0.25em;
}

section > hgroup {
  margin-bottom: calc(var(--typography-spacing-vertical) * 2);
}

[role="document"] {
  section > h1,
  section > h2,
  section > h3 {
    line-height: 1;
  }
}
