/** SASS for the <label> HTML element
 *
 * Found in scss/components/_dropdown.scss#225: `label {`
 * Found in scss/components/_dropdown.scss#230: `&:has(label):hover {`
 * Found in scss/components/_dropdown.scss#277: `#{\$parent-selector} label > details.dropdown {`
 * Found in scss/components/_nav.scss#83: `&[aria-label="breadcrumb"] {`
 * Found in scss/components/_nav.scss#149: `&[aria-label="breadcrumb"] {`
 * Found in scss/forms/_basics.scss#136: `#{\$parent-selector} label,`
 * Found in scss/forms/_basics.scss#241: `#{\$parent-selector} label[aria-disabled="true"],`
 * Found in scss/forms/_basics.scss#249: `#{\$parent-selector} label[aria-disabled="true"] input[disabled] {`
 * Found in scss/forms/_basics.scss#466: `#{\$parent-selector} label {`
 * Found in scss/forms/_checkbox-radio-switch.scss#11: `#{\$parent-selector} label {`
 * Found in scss/forms/_checkbox-radio-switch.scss#46: `& ~ label {`
 * Found in scss/utilities/_accessibility.scss#43: `#{\$parent-selector} label,`
 *
 * Add your styles here
 */

@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "utilities/accessibility") {
  // User interaction
  // Remove the tapping delay in IE 10
  #{$parent-selector} label {
    -ms-touch-action: manipulation;
  }
}

@if map.get($modules, "forms/basics") {
  // Label
  #{$parent-selector} label {
    display: block;
    margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.375);
    color: var(#{$css-var-prefix}color);
    font-weight: var(#{$css-var-prefix}form-label-font-weight, var(#{$css-var-prefix}font-weight));
  }

  // Disabled
  #{$parent-selector} label[aria-disabled="true"] {
    opacity: var(#{$css-var-prefix}form-element-disabled-opacity);
    pointer-events: none;
  }
}
