// Dark theme [Additions for docs]
@mixin dark {
  --invalid-color: #{rgba($red-900, 0.5)};
  --valid-color: #{rgba($green-800, 0.5)};
  --nav-background-color: #{rgba(darken($grey-900, 6%), 0.8)};
  --nav-border-color: #{rgba($grey-500, 0.2)};
  --nav-logo-color: #{mix($black, $grey-900)};
  --article-code-background-color: var(--code-background-color);
}
