/*!
 * Pico: Customs styles for Docs
 */

// Config
@import "../../scss/variables";

// Theming
@import "themes/docs";

// Layout
@import "layout/document";
@import "layout/main";
@import "layout/aside";
@import "layout/documentation";

// Content
@import "content/typography";
@import "content/code";

// Components
@import "components/modal";
@import "components/nav";
@import "components/theme-switcher";