/**
 * Docs: Aside
 */

main > aside {

  nav {
    width: 100%;
    padding-bottom: var(--block-spacing-vertical);
  
    @media (min-width: map-get($breakpoints, "lg")) {
      position: fixed;
      width: 200px;
      max-height: calc(100vh - 5.5rem);
      overflow-x: hidden;
      overflow-y: auto;
    }

    a#toggle-docs-navigation {
      display: block;
      margin: 0;
      margin-bottom: var(--spacing);
      padding: 0;
      padding-bottom: var(--spacing);
      border-bottom: var(--border-width) solid var(--accordion-border-color);

      svg {
        margin-right: calc(var(--spacing) * 0.5);
        vertical-align: -3px;
      }

      @media (min-width: map-get($breakpoints, "lg")) {
        display: none;
      }
    }

    &.closed-on-mobile {

      a#toggle-docs-navigation {
        svg.collapse {
          display: none;
        }
      }

      details {
        display: none;
      } 

      @media (min-width: map-get($breakpoints, "lg")) {
        details {
          display: block;
        }

        > a#toggle-docs-navigation {
          display: none;
        }
      }
    }

    &.open {
      a#toggle-docs-navigation {
        svg.expand {
          display: none;
        }
      }
    }
  }

  details {
    padding-bottom: 0;

    summary {
      padding-bottom: 0.5rem;
    }
  }

  li,
  summary {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
  }

  ul {
    padding-left: 0.25rem;
  }

  li a {
    --nav-link-spacing-vertical: 0.25rem;
    --nav-link-spacing-horizontal: 0.75rem;

    svg {
      vertical-align: middle;
    }
  }

  a.secondary:focus {
    background-color: transparent;
    color: var(--primary-hover);
  }

  a[aria-current],
  a[aria-current]:hover {
    color: var(--primary);
  }

  details {
    border-bottom: none;

    summary {
      color: var(--h1-color);
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;

      &::after {
        display: none;
      }
    }

    &[open] {
      > summary {
        margin-bottom: 0;

        &:not([role=button], :focus) {
          color: var(--h1-color);
        }
      }
    }
  }
}
