body > .new-version {
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  background-color: var(--primary);
  text-align: center;

  a {
    color: var(--primary-inverse);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}