@use "../settings";

@if (settings.$enable-class-container and settings.$enable-classes) {
  /**
 * Container
 */

  .container,
  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
  }

  .container {
    @if map-get(settings.$breakpoints, "sm") {
      @media (min-width: map-get(settings.$breakpoints, "sm")) {
        max-width: map-get(settings.$viewports, "sm");
        padding-right: 0;
        padding-left: 0;
      }
    }

    @if map-get(settings.$breakpoints, "md") {
      @media (min-width: map-get(settings.$breakpoints, "md")) {
        max-width: map-get(settings.$viewports, "md");
      }
    }

    @if map-get(settings.$breakpoints, "lg") {
      @media (min-width: map-get(settings.$breakpoints, "lg")) {
        max-width: map-get(settings.$viewports, "lg");
      }
    }

    @if map-get(settings.$breakpoints, "xl") {
      @media (min-width: map-get(settings.$breakpoints, "xl")) {
        max-width: map-get(settings.$viewports, "xl");
      }
    }
  }
}
