@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "layout/container") and $enable-classes {
  /**
   * Container
   */

  .container,
  .container-fluid {
    width: 100%;
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-inline-end: var(#{$css-var-prefix}spacing);
    padding-inline-start: var(#{$css-var-prefix}spacing);
  }

  .container {
    $first-breakpoint: true;
    @each $key, $values in $breakpoints {
      @if $values {
        @media (min-width: map.get($values, "breakpoint")) {
          max-width: map.get($values, "viewport");
          @if $first-breakpoint {
            $first-breakpoint: false;
            padding-inline-end: 0;
            padding-inline-start: 0;
          }
        }
      }
    }
  }
}
