@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "layout/scroller") {
  /**
   * Horizontal scroller (<figure>)
   */

  // Wrapper to make allow any content to be scrolled horizontally
  figure {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    figcaption {
      padding: calc(var(#{$css-var-prefix}spacing) * 0.5) 0;
      color: var(#{$css-var-prefix}muted-color);
    }
  }
}
