/** SASS for the <fieldset> HTML element
 *
 * Add your styles here
 */
@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "forms/basics") {
  // Fieldset
  #{$parent-selector} fieldset {
    width: 100%;
    margin: 0;
    margin-bottom: var(#{$css-var-prefix}spacing);
    padding: 0;
    border: 0;
  }
}
