/**
 * Yohn's PicoCSS basics
 *
 * I'm starting this here, for now, and will probably add it to the main releases when I build up enough
 * useful universal classes.
 *
 * @author John Brittain III
 * @link https://yohn.github.io/PicoCSS
 */

.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ms-0 { margin-left: 0 !important; }
.me-0 { margin-right: 0 !important; }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }

.p-0 { padding: 0 !important; }
.pt-0 { padding-top: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.ps-0 { padding-left: 0 !important; }
.pe-0 { padding-right: 0 !important; }
.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.px-0 { padding-left: 0 !important; padding-right: 0 !important; }

.fw-n { font-weight: normal !important; }


article > header > h6 {color: var(--pico-primary);}
