<style>
   /* Hide the default "Show code" toggle button */
   .docblock-code-toggle {
      display: none !important;
   }

   .custom-subtitle {
      display: block;
      margin: .5em !important;
      color: rgba(46, 52, 56, 0.75) !important;
      font-size: 13px!important;
      line-height: 20px !important;
      font-weight: 600 !important;
   }

   .hljs {
      background: rgba(0, 0, 0, 0.85) !important;
      color: rgb(255, 255, 255) !important;
      font-size: 13px !important;
      line-height: 19px !important;
      border-radius: 5px;
      font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New", monospace !important;
   }

   .theme-atom-one-dark pre code.hljs {
      display: block;
      overflow-x: auto;
      padding: 1em
   }

   .theme-atom-one-dark code.hljs {
      padding: 3px 5px
   }

   .theme-atom-one-dark .hljs {
      color: #abb2bf;
      background: #282c34
   }

   .theme-atom-one-dark .hljs-comment,
   .theme-atom-one-dark .hljs-quote {
      color: #5c6370;
      font-style: italic
   }

   .theme-atom-one-dark .hljs-doctag,
   .theme-atom-one-dark .hljs-formula,
   .theme-atom-one-dark .hljs-keyword {
      color: #c678dd
   }

   .theme-atom-one-dark .hljs-deletion,
   .theme-atom-one-dark .hljs-name,
   .theme-atom-one-dark .hljs-section,
   .theme-atom-one-dark .hljs-selector-tag,
   .theme-atom-one-dark .hljs-subst {
      color: #e06c75
   }

   .theme-atom-one-dark .hljs-literal {
      color: #56b6c2
   }

   .theme-atom-one-dark .hljs-addition,
   .theme-atom-one-dark .hljs-attribute,
   .theme-atom-one-dark .hljs-meta .hljs-string,
   .theme-atom-one-dark .hljs-regexp,
   .theme-atom-one-dark .hljs-string {
      color: #98c379
   }

   .theme-atom-one-dark .hljs-attr,
   .theme-atom-one-dark .hljs-number,
   .theme-atom-one-dark .hljs-selector-attr,
   .theme-atom-one-dark .hljs-selector-class,
   .theme-atom-one-dark .hljs-selector-pseudo,
   .theme-atom-one-dark .hljs-template-variable,
   .theme-atom-one-dark .hljs-type,
   .theme-atom-one-dark .hljs-variable {
      color: #d19a66
   }

   .theme-atom-one-dark .hljs-bullet,
   .theme-atom-one-dark .hljs-link,
   .theme-atom-one-dark .hljs-meta,
   .theme-atom-one-dark .hljs-selector-id,
   .theme-atom-one-dark .hljs-symbol,
   .theme-atom-one-dark .hljs-title {
      color: #61aeee
   }

   .theme-atom-one-dark .hljs-built_in,
   .theme-atom-one-dark .hljs-class .hljs-title,
   .theme-atom-one-dark .hljs-title.class_ {
      color: #e6c07b
   }

   .theme-atom-one-dark .hljs-emphasis {
      font-style: italic
   }

   .theme-atom-one-dark .hljs-strong {
      font-weight: 700
   }

   .theme-atom-one-dark .hljs-link {
      text-decoration: underline
   }
</style>
